.footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height:100%;
    padding: 20px;
    background-color: #FAFAFA;
}

footer .footer-container{
    width: 20%;
    height: 100%;
}

.footer-container .header{
    color: #867AE9;
    font-size: 10px;
}

.footer-container  ul{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

li{
    display: flex;
    flex-direction: column;

}

.footer-container img{
    width:215px;
    height:197px;
}