 .heading {
     color: #867ae9;
 }

  .navbar{
    display: flex;
    justify-content: space-between;
  }

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding :10px;
    cursor: pointer;
  
   
}
li{
  text-decoration: none;
}

 a{
  text-decoration: none;
}
 ul li:hover{
  color: #867ae9;
}
hr{
    border: 1px solid rgb(239, 233, 233) ;
}
.voilet{
    color: #867ae9;
}
img{
  width: 650px;
  height: 400px;
  margin-right: 50px;
}
.all{
  background-color: #6868d3;
}
.main-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-content{
  align-items: center;
  margin-left: 50px;
  padding: 7%;
  text-align: center;

}
.left-content p{
  color:#6A6A6A;
  font-weight: 500;
  font-size: 20px;


}




  
  


